.dark { background-color: #0B1320; }
.midden { background-color: #394D5F; }
/* .light { background-color: #FEF9E6; } */
.light { background-color: #FFFFFF; }
.background { background-color: #F0F0F3; }
.shadow { background-color: #AEAEC0; }






